apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-templa-django-deployment
  labels:
    app: django
spec:
  replicas: 2
  selector:
    matchLabels:
      app: django
  template:
    metadata:
      labels:
        app: django
    spec:
      containers:
        - name: django
          image: archofficial97/templa:v1.2
          imagePullPolicy: Always
          ports:
            - containerPort: 8000
          env:
            - name: DJANGO_ALLOWED_HOSTS
              value: "*"